extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/inputSearch.css')
      link(rel='stylesheet', href='/stylesheets/tecBioq/lista.css')
include ../tecBioq/inputSearch.pug
block content
 div.container.mt-5(id="divContentLista" )
  .row.justify-content-center
   .col-lg-6
    +inputSearch("/tecBioq/ordenes","id orden/ código paciente /nombre/apellido a buscar","","http://localhost:3000/tecBioq/addOrden")
  .row.mt-5
   .col-lg-6.mx-auto
    include ./listaOrdenes.pug