doctype html
html
  head
    title Error
  body
    h1 Error
    - console.log("daaa => ",msg)
    h2= msg
    if codigo==401
     p Código de error: 401 (Unauthorized)
     a(href="http://localhost:3000/") Volver al inicio