extends layout

block head
  meta(name='description' content='P치gina sobre nosotros')

block header
  h1 Sobre nosotros

block content
  h2 Nuestra historia
  p Esta es la p치gina sobre nuestra historia y misi칩n.

block footer
  p &copy; 2024 P치gina sobre nosotros