extends layout
block aside 
    include ./menuLateralExamen.pug
block content
  //
   if rtaCargarOrden 
        include ./rtaCargarOrden.pug
  include ./tablaCategDet.pug      
  .container.d-flex.flex-column.divContent(id="divLista" )       
   +tablaCategDet(false,"tabla1")
   +tablaCategDet(true,"tabla2")
   
    
          
   
         