extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
      link(rel='stylesheet', href='/stylesheets/tecBioq/tablaAddCategDet.css')
      link(rel='stylesheet', href='/stylesheets/inputDataList.css')
include ./tablaCategDet2.pug
block content  
   .row.w-100.mx-0.justify-content-center
    .col-12.col-lg-10.col-xl-8
     .row
      include ./menuLateralExamen.pug
      .col.bordeAzul
       if exCategs.length > 0
        .row.tablaConValoresExistentes
          +tablaCategDet(false,"tabla1")
       .row.mt-5
        +tablaCategDet(true,"tabla2")   
    
          
   
         