extends layout
block aside 
    include ./menuLateralExamen.pug
block content
  //
   if rtaCargarOrden 
        include ./rtaCargarOrden.pug
  include ./tablaCategDet.pug      
  .container      
   +tablaCategDet(false,categorias)
   +tablaCategDet(true)
   
    
          
   
         