extends layout
include ./formExamen.pug
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
block content
   .row.justify-content-center
    .col-lg-6 
     +formExamen("Agregar")