extends layout
block aside 
    include ./menuLateralDeterminacion.pug
block content
  //
   if rtaCargarOrden 
        include ./rtaCargarOrden.pug
  .container.d-flex.flex-column(id="divLista" )
    include ./formDeterminacion.pug
    +formDeterminacion("Guardar cambios","http://localhost:3000/tecBioq/det?_method=put",determinacion)
    +formValorReferencia("Guardar cambios","http://localhost:3000/tecBioq/vr?_method=put",determinacion)