extends layout
include ./formDeterminacion.pug
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
      link(rel='stylesheet', href='/stylesheets/inputDataList.css')
block content
 div.container.mt-5(id="divContentLista" )
   .row
    .col-lg-6.d-flex.mx-auto 
     +formDeterminacion("Enviar","http://localhost:3000/tecBioq/addDet")