extends layout
append styles
  link(rel='stylesheet', href='/stylesheets/tecbioq/resultados.css')
block aside 
block content

  .container.d-flex.flex-column.divContent(id="divLista" )  
   if rta
    div(class=`alert alert-${rta.tipo} alert-dismissible fade show` role="alert")= rta.msg
     button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
    - console.log("tiene resultado????  ",ordenExamen.tieneResultado)
   include ./formResultados.pug
   +formResultados(`formResultados`,examen,ordenExamen)