extends layout
block styles  
      link(rel='stylesheet', href='/stylesheets/tecbioq/body.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/style.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/formExamen.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/menuLateralExamen.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/inputSearch.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/examenDatos.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/divContent.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/formValorRef.css')
  

block content
  //
   if rtaCargarOrden 
        include ./rtaCargarOrden.pug
  .container.d-flex.flex-column(id="divLista" )
    include ./formMuestra.pug
    +formMuestra("Guardar cambios","http://localhost:3000/tecBioq/muestra?_method=put",muestra)
