extends layout
block aside 
    include ./menuLateralExamen.pug
block content
  //
   if rtaCargarOrden 
        include ./rtaCargarOrden.pug
  .container.d-flex.justify-content-start(id="divLista" )
    include ./formExamen.pug
    +formExamen("Editar",examen)