extends layout
include ./formMuestra.pug
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
block content
 div.container.mt-5(id="divContentLista" )
  .row
    .col-lg-6.d-flex.mx-auto 
     +formMuestra("Enviar","http://localhost:3000/tecBioq/addMuestra")   


