extends layout
append styles 
      link(rel='stylesheet', href='/stylesheets/tecBioq/formularios.css')
      link(rel='stylesheet', href='/stylesheets/tecbioq/formValorRef.css')
      link(rel='stylesheet', href='/stylesheets/inputDataList.css')
include ./formDeterminacion.pug
block content 
   .row.justify-content-center 
    .col-lg-9.col-xxl-8
     .row
      include ./menuLateralDeterminacion.pug
      .col.bordeAzul
       .row
        .col 
         div.d-flex.justify-content-center
          +formDeterminacion("Guardar cambios","http://localhost:3000/tecBioq/det?_method=put",determinacion)

   script(src="/javascripts/btn-cruz.js")