extends layout

block content
 include ./inputSearch.pug
 +inputSearch("/tecBioq/det","nombre/codigo/tag a buscar","Crear Determinación","http://localhost:3000/tecBioq/addDet")
 include ./listaDeterminaciones.pug