aside(class="col-auto  me-3" )
 nav(class="nav flex-column bg-light navLateral")
  ul(class="bd-links-nav list-unstyled")
   li(class="nav-item")
    a.nav-link.btnEditar(href=`http://localhost:3000/tecBioq/editarDet/${determinacion.id}`)
     p Editar
     p determinación
   li(class="nav-item")
    a(class="nav-link" id="btnDeterminacion" href=`http://localhost:3000/tecBioq/detDelete/${determinacion.id}`) 
     p= determinacion.deletedAt?"Activar":"Desactivar"
   li(class="nav-item")
     a.nav-link.btnEditar(href="#btnSubmitValorRef")
      p Editar
      p Valores de 
      p referencia