aside(class="col flex-grow-0")
 nav(class="nav flex-column bg-light navLateral")
  ul(class="bd-links-nav list-unstyled ")
   li(class="nav-item")
    a(class="nav-link" id="btnInicio" href=`http://localhost:3000/tecBioq/examen/${examen.id}`)
     p Información de 
     p= examen.nombre
   li(class="nav-item")
    a(class="nav-link" id="btnDeterminacion" href=`http://localhost:3000/tecBioq/examen/${examen.id}/addCategDet`) 
     p Categorias 
     p Determinaciones
     p Parámetros