extends layout
block aside 
    include ./menuLateral.pug
block content
 div(id="divContentLista" )
  include ../tecBioq/inputSearch.pug
  +inputSearch(`/admins2`,"nombre/email/DNI a buscar")
  include ./listaUsuarios.pug