mixin 3puntos(id,action,deletedAt)
  .btn-group.tresPuntos
   button(type="button" class="btn btn-secondary dropdown" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false")
    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000068" class="bi bi-three-dots-vertical" viewBox="0 0 16 16")
     path(d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0")
 
 
   ul(class="dropdown-menu dropdown-menu-lg-end")
    li
     button(role="button" class="dropdown-item btnEditar" id=`${id}` disabled=deletedAt) Editar
    li
     form(action=action method="post")
      button.btnEliminar(role="button" class=`dropdown-item` )
       if deletedAt 
        | Activar
       else 
        | Desactivar
  