aside(class="col-auto  me-3")
 nav(class="nav flex-column bg-light navLateral")
  ul(class="bd-links-nav list-unstyled")
   li(class="nav-item")
    a(class="nav-link" id="btnInicio")= `Información de ${usuario.nombre} ${usuario.apellido}`
   li(class="nav-item")
    a(class="nav-link" id="btnEditar") Editar
   li(class="nav-item")
    a(class="nav-link" id="btnCargarOrden") Cargar orden
   li(class="nav-item")
    a(class="nav-link" id="btnOrdenesNoInformadas") Ordenes 
    
  
        
      