aside(class="d-flex position-fixed vh-100 " style="top: 3rem;")
 nav(class="nav flex-column bg-light p-3" style="width: 200px;")
  li(class="nav-item")
   a(class="nav-link" id="btnInicio") Inicio
  li(class="nav-item")
   a(class="nav-link" id="btnEditar") Editar
  li(class="nav-item")
   a(class="nav-link") Cargar orden
  
        
      