nav(class="navbar navbar-expand-lg bg-body-tertiary ")
            a(class="navbar-brand position-relative top-0 start-0" href="/admins") Inicio
            button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
              span(class="navbar-toggler-icon")
            .collapse.navbar-collapse#navbarSupportedContent 
              form(class="d-flex mx-auto w-50" role="search" action=`/admins/busqueda/`)
                span.spanSearch.w-100  
                  i(class="bi bi-search")
                  input(class="me-2 inputSearchDeterminacion" type="search" placeholder="apellido/email/DNI a buscar" aria-label="Search" autofocus name="inputSearch" value=inputSearch?inputSearch:'' onfocus="this.select()" autocomplete="off")
                  //- para la query
                  input(type="hidden" name="group" value=1)
                  input(type="hidden" name="page" value=1)
                  a(href="/admins/form?edit=false" class="btn btn-secondary btnNuevoPaciente "  role="button" type="button" ) Registrar 
              ul.navbar-nav.mb-2.mb-lg-0
                li.nav-item    
                  include ../menu.pug