.container.d-flex.justify-content-center.flex-column#rta(class=`alert alert-${rta.alertType} alert-dismissible fade show` role="alert")
  if rta.alertType && rta.alertMessage
  if rta.origen && rta.origen==='postOrden'  
   
   if rta.examenesNoRealizados && rta.examenesNoRealizados.length
    h2 Exámenes No Realizados
     ul
      each examen in rta.examenesNoRealizados
       li= ` ${examen.nombre} (${examen.laboratorioQueLoRealiza})`