.form-div{
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: baseline;
  }
  
  
  
  .form-div input{
    text-align: right;
    border:0 ;
    outline: 0;
    width: 100%;
  }
  
  .form-div div+div {
    width:80%;
  }
  
  #selectMuestra{
    border: none;
    outline: none;
    appearance: none;
  }
  
  #selectMuestra:focus {
    outline: none ; /* Asegúrate de eliminar el contorno azul al enfocarlo */
    box-shadow: none ;/* En caso de que el navegador use un box-shadow */
  }
  
  
    .btn-primary, 
    .btn-primary:hover {
      background: #261290;
      color: #fff !important;
      border: 0;
  }
  
  .form-btn{
    margin-top:1rem;
  }
  

  input:disabled,
  .form-select:disabled {
    background-color: white ; /* Sobrescribe cualquier estilo existente */
    color: black ;
    border: 1px solid #ced4da ;
    cursor: not-allowed;
}


#divTabla{
    margin-top: 2rem;
}

.addBackground{
    background-color: #f1f1f1;
    margin-bottom: 2rem;
}