.divContent{
    margin-top:3rem;
    padding: 20px;
    width: calc(100% - 240px); 
   margin-left: 240px;
}

.oculto {
    display: none !important;
}

.ocultoHijo {
  display:inherit;
}

#divContentLista{
  margin: auto;
  margin-top:3rem;
  padding: 20px;
  width: 60%;
}