
  /* ------------------------------------------------------------------ search bar*/

  form .spanSearch{
    display: inline-block;
  }

  
form .colSearch{
    background-color: #EFEFEF;
    border-radius:50px;
    background-clip: padding-box;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.65); /* También puedes establecer un borde transparente */
    transition: box-shadow .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  
 form .colSearch input{
  border:0;
  display: block;
      width: 100%;
      height: 2rem;
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      appearance: none;
       outline: none;
       background-color: #EFEFEF;
      
 }
 form .colSearch:focus-within {
    box-shadow:0 0 5px 1px #ffba8f; /* Cambia el borde del span al tener el foco en el input */
  }


   /* ------------------------------------------------------------------ fORMULARIOS*/