.divLista{
  background-color: #F8F9FA;
  padding:2rem 1rem;
   box-shadow: 0 0 5px 1px rgba(0,0,0,0.65); 
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #343a40; 
}
.titulo-lista {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #343a40; 
  }


  .titulo-lista2 {
     margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40; 
  }

  .divTituloAuditoria{
    margin:1rem 0 ;
  }