body{
    padding:0;
  }
  .nav-item:hover {
      background-color: #f8f9fa;
      cursor: pointer;
    }
    
    .nav-link:hover {
      color: #007bff;
      text-decoration: none;
    }
    
    /* Estilo cuando el enlace está activo, usando routerLinkActive */
    .nav-link.active {
      color: #5D5D5D; /* Color para el enlace activo */
      font-weight: bold; /* Destacar el texto del enlace activo */
    }
    
    /* Si quieres que el fondo del nav-item cambie cuando está activo */
    .nav-item .nav-link.active {
      background-color: #e9ecef; /* Fondo ligero para resaltar */
      border-radius: 5px; /* Opcional, para darle un borde redondeado */
    }
  
    /* List Styles */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  margin-bottom: 5px;
  background: #f1f1f1;
  border-radius: 4px;
  word-break:normal;
}

ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

/* Date Display */
p span {
  font-weight: bold;
  color: #007bff;
}
