body{
  background-color:#d3cdcd;
  justify-content: space-between;
  color: #021425;
}
.logo{
    width: 63px;
}


.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}



/* ---------------------------------------------------------------------HEADER*/
.navBar{
  background-color: #261290;
}


ul{
  align-items: center;
}


/* .navbar-nav li.nav-item > a {
  transition: background-color 0.3s , 
              color 0.3s ;
  transition-timing-function: cubic-bezier(0.38,-0.04, 1, 1)     
}
 */

.navbar-nav li.nav-item:hover > a {
    background-color: #261290;
    color: #FFFFFF;
  }


  button.btn,
  a.btn{
    background-color: #261290;
    color: #FFFFFF;
  }

   button.btn:hover,
   a.btn:hover{
    background-color: #261290;
    color: #FFFFFF;
  }


  button.btn:focus, 
button.btn:active, 
button.btn:focus-visible {
  background-color: #261290 !important;
  color: #FFFFFF !important;
  box-shadow: none !important; /* Esto elimina el borde azul de focus */
}

.ingresarComo ul{
  background-color: #261290 ;
}
.ingresarComo ul li a{
  color: #FFFFFF;
}







/*********************************************************************************** FOOTER*/

footer{
  
    border: 1px solid #261290 ;
    background-color: #333 ;
    color:#fff;
    padding: 40px;
}



/*********************************************************************************** FOOTER*/


.main-wrapper aside{
    min-width: 12rem;
     border-top: #261290 solid 0.5rem;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.65);
    background-color: #F8F9FA;
    padding: 0;
}
.main-wrapper aside p{
  word-break: break-all;
}

.main-wrapper {
    flex-grow: 1;
}



/* --------------------------------------------------------------- NAVLATERAL */

.navLateral li:hover{
background-color: #D3CDCD;
}